@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
#page-wrapper { position: relative; overflow: hidden; }
/* not used? */
body {padding: 0; margin: 0;
}
.container { width: 90%; max-width: 850px; margin: 0 auto; padding: 50px 0 50px 0;
    /*display: block;*/
    box-sizing: border-box;
    /*border: 1px solid red;*/
    /*height: 100%;*/
    background-color: #FFFFFF;
    z-index: 0;
}
.page-title {font-size: 1.8em;; text-align: center; color: #555555}
.box-wrap { margin: 0 auto; max-width: 400px; padding-top: 100px; text-decoration: none}
.box-header-wrap {position: relative; margin: auto; height: auto; background-color: #EEEEEE;}
.box-header {text-align: center; font-size: 1.8em; padding-top: 5px; color: dimgrey}
.box-header2 {padding-bottom: 10px; text-align: center; font-weight: bold; font-size: 1.2em}
.section-wrap {width: 100%; padding: 5px 2px; margin: 0 auto; border-radius: 2px; border: blue }
.section-column {vertical-align: top; display: inline-block; }
.section-pane {display: inline-block; vertical-align: text-top; border-radius: 2px; padding: 5px; width: 100%; overflow: hidden }
.section-pane .pane-header {padding: 3px 0; border-bottom: 2px solid #CEB888; border-right: 1px solid #CEB888; border-radius: 3px }
.section-pane .pane-header .title {display: inline-block; text-overflow: ellipsis; white-space: nowrap; font-weight: bold; text-decoration: none; color: #782f40}
.section-pane .pane-header .title a {text-decoration: none; color: #782f40}
.section-pane .pane-content {vertical-align: text-top; width: 100%; border: green; color: #505050}
.section-pane .pane-content .content-header {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #949494; padding: 0; margin: 0; border: crimson}
.section-pane .pane-content .content-title {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #915664; font-weight: 500}
.section-pane .pane-content .content-title a { text-decoration-line: none; color: #915664; cursor: pointer}
.section-pane .pane-content .content-title a:hover {color: #782F40; font-weight: 600}
.section-pane .pane-content .content-item {display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #505050; border: lightgrey}
.section-pane .pane-content .content-item a { text-decoration: none; color: #505050}
.section-pane .pane-content .content-item a:hover { text-decoration: none; color: #782F40; font-weight: 600}
.section-pane .pane-content .content-item-wrap:nth-child(odd) {background: #F5F5F5; border-width: .01em; border-color: #DBDAB8; border-style: solid solid none solid; padding-left: 3px; }
.section-pane .pane-content .content-item-wrap:nth-child(odd):last-child {background: #F5F5F5; border: 1px solid #DBDAB8; padding-left: 3px}
.section-pane .pane-content .content-item-wrap:nth-child(odd):hover {background: #EBF8EF; border: .01em solid #DBDAB8; padding-left: 3px }
.section-pane .pane-content .content-item-wrap:nth-child(even) {background: #FFFFFF; border-width: .01em; border-color: #DBDAB8; border-style: solid solid none solid; padding-left: 3px}
.section-pane .pane-content .content-item-wrap:nth-child(even):last-child {background: #FFFFFF; border: 1px solid #DBDAB8; padding-left: 3px}
.section-pane .pane-content .content-item-wrap:nth-child(even):hover {background: #EBF8EF; border: .01em solid #DBDAB8; padding-left: 3px }
.section-pane .pane-content .item-postfix {float: right; color: darkgrey; overflow: hidden;}
.box-section {padding-top: 25px; margin: 0 auto;; width: 280px}
.box-checkbox {position: relative; display: inline-block; width: 60px}
.icon-text {vertical-align: middle}
.signup_row { height: 40px; margin-top: 10px; padding: 0 10px; font-size: 14px; border-radius: 4px; width: 100%; border: solid 1px grey;}
.input_field { height: 40px; margin-top: 10px; padding: 0 10px; font-size: 14px; border-radius: 4px; width: 100%; border: solid 1px grey;}
/* Used in multiple-step form */
.tab { display: none;}
/* Make circles that indicate the steps of the form: */
.step { height: 15px; width: 15px; margin: 0 2px; background-color: #BBBBBB; border: none; border-radius: 50%; display: inline-block; opacity: 0.5;}
.step.active { opacity: 1;}
/* Mark the steps that are finished and valid: */
.step.finish { background-color: #4CAF50;}
button { background-color: #DDDDDD; color: #FFFFFF; border: none; padding: 5px 10px 5px 3px; font-size: 14px; cursor: pointer;}
button:hover { opacity: 0.8;}
#prevBtn { background-color: #BBBBBB; width: 70px; margin: 15px 1px; padding: 7px 1px; border-radius: 3px;}
#nextBtn { background: darkgrey; margin: 15px 1px; padding: 7px 1px; border-radius: 3px; width: 70px;}
.php-message {
    width: 200px;
    /*margin: auto;*/
    position: fixed;
    top: 75px;
    right: 5px;
    /*display: flex;*/
    text-align: right;
}
.message-blink {
    width: 250px;
    height: 50px;
    -webkit-animation: animation-warning 1s infinite; /* Safari 4+ */
    -moz-animation: animation-warning 1s infinite; /* Fx 5+ */
    -o-animation: animation-warning 1s infinite; /* Opera 12+ */
    animation: animation-warning 1s infinite; /* IE 10+, Fx 29+ */
}
@-webkit-keyframes animation-warning {
    0%, 49% {
        background-color: rgb(226, 226, 226);
        border: 1px solid #eeeeee;
    }
    50%, 100% {
        background-color: #eeeeee;
        border: 1px solid rgb(221, 221, 221);
    }
}
.loader {
    border: 8px solid #F3F3F3;
    border-radius: 50%;
    border-top: 8px solid #CEB888;
    border-bottom: 8px solid #782F40;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*navbar is a bootstrap class*/
/*  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar  */
.nav-hbdi {
    width: 100%;
    /*max-width: 900px; */
    margin: 0 auto;
    background-color: #782F40; color: white;
    /*overflow: hidden;*/ /* This will cover menu dropdown */
    position: fixed;
    top: 0;
    z-index: 1000;
}
.nav-hbdi a:hover {background-color: #782F40; color: red; border: white; }
.nav-hbdi-item {
    display: inline-block;
    float: left;
    /*padding: 15px 1px 0 1px; */
    border: gold;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-hbdi-item a { background-color: #782F40; color: white; }
.nav-hbdi-item a:hover { background-color: white; color: #782F40}
.nav-hbdi-right {display: inline-block; float: right; border: mediumvioletred; }
.nav-hbdi-right a {
    float: left;
    display: inline-block;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 16px 8px 4px 8px;
    text-decoration: none !important;
    border: yellow;
}
.nav-hbdi-right a:hover, .dropdown-hbdi:hover {
    background-color: #CEB888;
    color: white;
}
.dropdown-hbdi {
    float: left;
    display: inline-block;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    /*    Overflow will cause */
}
.dropdown-hbdi .dropbtn-hbdi {
    font-size: 16px;
    outline: none;
    color: white;
    /*padding: 8px 8px;*/
    padding: 0;
    background-color: inherit;
    /*font-family: inherit; margin: 0;*/
    /*border: 2px solid orange;*/
}
.dropbtn-hbdi a:hover { color: white;
    /*border-top-right-radius: 10px;*/
    /*border-top-left-radius: 10px;*/
}
.dropdown-hbdi-content {
    display: none;
    position: absolute;
    top: 40px;
    /*background-color: #CEB888;*/
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-hbdi-content a {
    float: none;
    /*color: white;*/
    text-align: left;
    padding: 3px 4px 3px 9px;
    text-decoration: none;
    display: block;
    background-color: #CEB888;
}
.dropdown-hbdi-content a:hover {
    background-color: #782F40;
    color: white;
    text-decoration: none;
    padding: 3px 4px 3px 9px;
    border-top: 1px solid #915664;
    border-bottom: 1px solid #915664;
}
.dropdown-hbdi:hover .dropdown-hbdi-content {
    display: block;
}
.search {
    box-shadow: none;
    padding: 3px 14px 1px 3px;
    margin-top: 0;
    outline: 0;
    border: 1px solid grey;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.preview-modal {
    margin: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 200px;
    top: 100px;
    width: 50%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    border-radius: 5px;
}
.preview-modal-content {
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 400px;
    min-height: 50%;
    border-radius: 3px;
}
/* Modal Content */
.modal-content {
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 900px;
    min-height: 50%;
}
/* The Close Button */
.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
#get-start {
    align-items: center;
    display: flex;
    flex-direction: column;
    /*height         : 150px;*/
    justify-items: center;
    /*margin-top     : 75px;*/
    text-align: center;
}
#get-start h1 {
    margin: 20px 0;
    text-align: center;
    align-content: center;
}
#form input {
    display: block;
}
/*#email {*/
/*	margin        : 0 auto;*/
/*	width         : 220px;*/
/*	height        : 25px;*/
/*	padding       : 0 5px;*/
/*	border        : 1px solid black;*/
/*	border-radius : 2px;*/
/*}*/
.grid {
    margin: 0;
}
.feature-logo {
    font-size: 50px;
    text-align: center;
    width: 10%;
    color: orange;
    display: inline-block;
}
.feature-desc { width: 80%; display: inline-block; vertical-align: center;}
.feature-desc h3 {font-size: 20px;padding-left: 3px;margin-bottom: 0;}
.feature-desc p {font-size: 14px;color: #2D2D2D;}
#video {width: 100%;max-width: 800px;display: block;}
section, footer {width: 75%;margin: 0 auto;}
#header {position: fixed;top: 0;min-height: 75px;padding: 0 20px; display: flex;
    justify-content: space-around;align-items: center;background-color: #EEEEEE;max-width: 100%;}
#header-img {display: flex;width: 25%;height: 5%;}
.logo {width: 10%;vertical-align: bottom;}
@media (max-width: 650px) {
    .logo {margin-top: 15px;
        width: 100%;
        position: relative;
    }
}
.logo img {width: auto;height: auto;max-width: 100px;display: flex;justify-content: center;
    align-items: center;text-align: center;margin-left: 30%;}
@media (max-width: 650px) {
    .logo img {
        margin: 0 auto;
    }
}
p {font-size: 16px;color: #434343;line-height: 24px !important;text-align: left;
    margin: 0 !important;border: 3px;padding: 5px 3px 5px 3px;margin-top: 5px;
    margin-bottom: 5px;margin-right: 5%;margin-left: 5%;
    /*line-height: 26px !important;*/}
.dashboard-wrapper {
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px 20px;
    /*border                : 1px solid blueviolet;*/
    padding: 0 15px;
}
.grid-block { max-width: 422px; font-size: 14px; overflow: hidden; padding: 0 0 10px 0;}
.grid-container .grid-block .block-header .block-tail {
    float: right;
    display: inline;
    padding: 2px 5px 0 5px;
    font-size: 6px;
    color: darkgrey;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 475px) {
    .nav-hbdi a, .nav-hbdi input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        padding: 3px 0;
        margin: 2px 0;
    }
}
#form {
}
#emaillllll {border: 2px gray;border-radius: 2px;display: flex;height: 35px;
    margin-bottom: 20px; margin-top: 20px;padding-left: 5px;width: 300px;}
.btn {alignment: center;background-color: orange;border-radius: 2px;cursor: pointer;
    display: block;font-size: 1em;font-weight: 900;height: 35px;padding: 0 24px;
    text-transform: uppercase;}
.btn-primary {}
#submit {}
.footer {
    clear: both;
    position: relative;
    bottom: 0;
    padding: 25px 0 50px 0;
    /*clear: both;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*!*width: 100%;*!*/
    width: 90%; max-width: 900px;
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    font-size: 12px; color: #878787; background-color: #FFFFFF;
    /*border: 1px solid blue;*/
}
.scrolling > footer { height: 0; opacity: 0; }
.footer a {
    color: #915664;
    font-weight: 600;
    text-decoration: none !important;
}
.footer a:hover {
    color: #782F40;
}
.footer .block:hover, a:hover {
    color: #3d3d3d
}
.scrolling > footer { height: 0; opacity: 0; }
input[type='checkbox'] {
    float: left;
    width: 20px;
}
input[type='checkbox'] + label {
    display: block;
    width: 30px;
}
.nasa-h2 {
    font-size: 1.75rem; font-weight: 700; color: #782F40;
}
.nasa-h3 {
    font-size: 1.5rem; font-weight: 500; color: #782F40; padding-left: 5px;
}
.nasa-ul {
    position: relative; left: 35px;
}
.collapsible {
    background-color: #EEEEEE;
    /*color: white;*/
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover { background-color: #D9D9D9;}
.content { padding: 0 18px; display: none; overflow: hidden; background-color: #F1F1F1;}
.open-button { background-color: #555555; color: white;border: none; cursor: pointer; opacity: 0.8;
    /*position: fixed;*/
    /*bottom: 23px;*/
    /*right: 28px;*/
    /*width: 280px;*/
    /* TY Chen below*/
    position: relative; left: 10px; width: 150px; padding: 3px 5px; border-radius: 5px;}
/* The popup form - hidden by default */
.form-popup {display: none;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*right: 15px;*/
    position: relative; /* added by ty chen */
    top: 10px; /* added by me */
    border: 3px solid #F1F1F1;
    z-index: 9;
}
/* Add styles to the form container */
.form-container {
    max-width: 275px;
    padding: 10px;
    background-color: white;
}
/* Full-width input fields */
.form-container input[type=text] { width: 100%; padding: 15px; margin: 5px 0 22px 0; border: none; background: #F1F1F1;}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #DDDDDD; outline: none;}
/* Set a style for the submit/login button */
.form-container .btn { background-color: #BBBBBB; color: white; padding: 16px 20px; border: none; cursor: pointer;
    width: 100%; margin-bottom: 10px; opacity: 0.8;}
/* Add a red background color to the cancel button */
.form-container .cancel { background-color: #BBBBBB;}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover { opacity: 1;}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555555;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1;}
.fileMenuItem { background-color: transparent; border: none; font-weight: 400; display: inline;}
